/* line 12, ../sass/_grid.sass */
#leadin {
  *zoom: 1;
  max-width: 1180px;
  max-width: 73.75rem;
  _width: 1180px;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
#leadin:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 782px) {
  /* line 12, ../sass/_grid.sass */
  #leadin {
    *zoom: 1;
    max-width: 1180px;
    max-width: 73.75rem;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  #leadin:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 17, ../sass/_grid.sass */
#leadin * {
  box-sizing: border-box;
}
@media (min-width: 782px) {
  /* line 12, ../sass/_grid.sass */
  #leadin {
    margin: 0;
  }
}

/* line 6, ../sass/_tables.sass */
#leadin .top_table_controls {
  border-bottom: 2px solid #dedede;
  margin: 0 0 18px 0;
  margin-bottom: 16px;
  *zoom: 1;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
#leadin .top_table_controls:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/_tables.sass */
#leadin .table_segment_picker {
  float: left;
  margin: 0;
}
/* line 16, ../sass/_tables.sass */
#leadin .table_segment_picker li {
  display: inline-block;
  margin: 0;
}
/* line 20, ../sass/_tables.sass */
#leadin .table_segment_picker li + li {
  margin-left: 2em;
}
/* line 22, ../sass/_tables.sass */
#leadin .table_segment_picker li a {
  display: block;
  padding: 12px 0;
  line-height: 24px;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}
/* line 30, ../sass/_tables.sass */
#leadin .table_segment_picker li a.current {
  margin-bottom: -2px;
  font-weight: 400;
  border-bottom: 2px solid #f66000;
}
/* line 35, ../sass/_tables.sass */
#leadin .table_segment_picker li a.current, #leadin .table_segment_picker li a:hover, #leadin .table_segment_picker li a:active {
  color: #f66000;
}
/* line 38, ../sass/_tables.sass */
#leadin .table_search {
  float: right;
  padding: 10px 0;
  padding-bottom: 9px;
}
/* line 44, ../sass/_tables.sass */
#leadin table .leadin-contact-avatar {
  float: left;
}
/* line 48, ../sass/_tables.sass */
#leadin.pre-mp6 .table_search {
  float: right;
  padding: 12px 0;
  padding-bottom: 11px;
}
/* line 53, ../sass/_tables.sass */
#leadin.pre-mp6 table {
  background-color: white;
  border-color: #dedede;
}
/* line 59, ../sass/_tables.sass */
#leadin.pre-mp6 table tr.alternate {
  background-color: white;
}
/* line 62, ../sass/_tables.sass */
#leadin.pre-mp6 table th, #leadin.pre-mp6 table td {
  border-top: 0;
  padding: 12px 6px 11px;
}
/* line 66, ../sass/_tables.sass */
#leadin.pre-mp6 table th a, #leadin.pre-mp6 table td a {
  padding: 0;
}
/* line 69, ../sass/_tables.sass */
#leadin.pre-mp6 table th[scope="col"] {
  background: #eeeeee;
  font-family: sans-serif;
  font-size: 12px;
  text-shadow: none;
}
/* line 75, ../sass/_tables.sass */
#leadin.pre-mp6 table td {
  border-color: #dedede;
  line-height: 18px;
  font-size: 14px;
}
/* line 80, ../sass/_tables.sass */
#leadin.pre-mp6 table td .row-actions {
  float: left;
}

/* line 9, ../sass/leadin-admin.sass */
#leadin {
  padding-right: 20px;
}
@media screen and (min-width: 500px) {
  /* line 9, ../sass/leadin-admin.sass */
  #leadin {
    padding-right: 10px;
  }
}
/* line 15, ../sass/leadin-admin.sass */
#leadin label {
  cursor: default;
}
/* line 18, ../sass/leadin-admin.sass */
#leadin .col-wrap {
  padding: 0 14px 0 0;
}
/* line 21, ../sass/leadin-admin.sass */
#leadin .metabox-holder {
  *zoom: 1;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
#leadin .metabox-holder:after {
  content: "";
  display: table;
  clear: both;
}
/* line 24, ../sass/leadin-admin.sass */
#leadin #leadin-footer {
  *zoom: 1;
  clear: both;
  margin-top: 48px;
  color: #999999;
  border-top: 1px solid #dedede;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
#leadin #leadin-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../sass/leadin-admin.sass */
#leadin #leadin-footer .support .sharing {
  height: 18px;
  text-align: left;
}
@media screen and (min-width: 500px) {
  /* line 36, ../sass/leadin-admin.sass */
  #leadin #leadin-footer .support, #leadin #leadin-footer .version, #leadin #leadin-footer .sharing {
    width: 50%;
    float: left;
  }
  /* line 40, ../sass/leadin-admin.sass */
  #leadin #leadin-footer .sharing {
    text-align: right;
  }
}

/* line 45, ../sass/leadin-admin.sass */
#wp-admin-bar-leadin-admin-menu img {
  height: 16px;
  width: 16px;
  opacity: 0.6;
}

/* line 1, ../sass/_settings_page.sass */
#icon-leadin {
  background: url("../../images/leadin-icon-32x32.png") top center no-repeat;
}

/* line 4, ../sass/_settings_page.sass */
.help-notification {
  background: #d9edf7;
  border: 1px solid #bce8f1;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 12, ../sass/_settings_page.sass */
.toplevel_page_leadin_contacts .wp-menu-image img {
  width: 16px;
  height: 16px;
}

/* line 16, ../sass/_settings_page.sass */
.leadin-contact-avatar {
  margin-right: 10px;
}

/* line 19, ../sass/_settings_page.sass */
.power-up-settings-icon {
  padding-right: 10px;
  float: left;
  max-height: 20px;
  margin-top: -1px;
}

/* line 25, ../sass/_settings_page.sass */
.dashicons {
  margin-right: 10px;
  float: left;
  margin-top: -1px;
}

/* line 30, ../sass/_settings_page.sass */
.steps {
  margin: 48px auto 0;
  text-align: center;
  max-width: 600px;
}
/* line 35, ../sass/_settings_page.sass */
.steps h3, .steps p {
  margin: 0;
}
/* line 38, ../sass/_settings_page.sass */
.steps .step-names {
  margin: 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.steps .step-names:after {
  content: "";
  display: table;
  clear: both;
}
/* line 42, ../sass/_settings_page.sass */
.steps .step-names .step-name {
  color: #cccccc;
  display: list-item;
  float: left;
  width: 33%;
  margin: 0;
  padding-bottom: 18px;
  font-size: 16px;
  list-style: decimal inside none;
}
/* line 52, ../sass/_settings_page.sass */
.steps .step-names .step-name.active {
  color: #1f7d71;
  background-image: url(../../images/triangle.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}
/* line 58, ../sass/_settings_page.sass */
.steps .step-names .step-name.completed {
  list-style-image: url(../../images/checkmark.png);
}
/* line 61, ../sass/_settings_page.sass */
.steps .step-content {
  margin: 0;
}
/* line 64, ../sass/_settings_page.sass */
.steps .step-content .description {
  margin: 10px 0 20px;
  display: block;
}
/* line 68, ../sass/_settings_page.sass */
.steps .step {
  display: none;
  padding: 18px;
  background-color: #d3eeeb;
  border: 2px solid #22aa99;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #1f7d71;
}
/* line 76, ../sass/_settings_page.sass */
.steps .step h2 {
  color: #1f7d71;
  margin-top: 0;
  margin-bottom: 18px;
}
/* line 82, ../sass/_settings_page.sass */
.steps .step ol {
  text-align: left;
  margin-bottom: 18px;
}
/* line 86, ../sass/_settings_page.sass */
.steps .step label {
  text-align: right;
}
/* line 89, ../sass/_settings_page.sass */
.steps .step.active {
  display: block;
}
/* line 93, ../sass/_settings_page.sass */
.steps .step .form-table th {
  display: none;
}
/* line 96, ../sass/_settings_page.sass */
.steps .step .form-table td {
  text-align: center;
  width: auto;
  display: block;
}
/* line 101, ../sass/_settings_page.sass */
.steps .step .form-table input {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding: 7px 10px;
  display: block;
}

/* line 5, ../sass/_contacts_list_page.sass */
#leadin-contacts th#source {
  width: 20%;
}
/* line 8, ../sass/_contacts_list_page.sass */
#leadin-contacts th#visits, #leadin-contacts th#submissions {
  width: 8%;
}
/* line 11, ../sass/_contacts_list_page.sass */
#leadin-contacts th#status, #leadin-contacts th#last_visit, #leadin-contacts th#date, #leadin-contacts th#pageviews {
  width: 10%;
}

/* line 3, ../sass/_contact_detail_page.sass */
#leadin .header-wrap {
  *zoom: 1;
  padding: 9px 15px 4px 0;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
#leadin .header-wrap:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../sass/_contact_detail_page.sass */
#leadin .header-wrap h1, #leadin .header-wrap img {
  float: left;
}
/* line 10, ../sass/_contact_detail_page.sass */
#leadin .header-wrap h1 {
  padding: 0 0 0 10px;
  margin: 0;
}
/* line 14, ../sass/_contact_detail_page.sass */
#leadin .contact-name {
  line-height: 40px;
}
/* line 19, ../sass/_contact_detail_page.sass */
#leadin .contact-info label {
  font-weight: bold;
  line-height: 1;
  cursor: default;
}
/* line 24, ../sass/_contact_detail_page.sass */
#leadin .contact-history {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 2px solid #dedede;
}
/* line 31, ../sass/_contact_detail_page.sass */
#leadin .contact-history .session + .session {
  margin-top: 30px;
}
/* line 34, ../sass/_contact_detail_page.sass */
#leadin .contact-history .session-date {
  position: relative;
}
/* line 37, ../sass/_contact_detail_page.sass */
#leadin .contact-history .session-date:before {
  content: "\2022";
  font-size: 32px;
  line-height: 0;
  height: 31px;
  width: 31px;
  position: absolute;
  left: -27px;
  top: 9px;
  color: #dedede;
}
/* line 48, ../sass/_contact_detail_page.sass */
#leadin .contact-history .events {
  background-color: white;
  border: 1px solid #dedede;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
/* line 53, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #dedede;
  border-left: 4px solid;
}
/* line 60, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event:first-child {
  border-top: 0;
}
/* line 63, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event.pageview {
  border-left-color: #2288cc;
  color: #2288cc;
}
/* line 67, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event.form-submission {
  border-left-color: #f66000;
  color: #f66000;
}
/* line 71, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event.source {
  border-left-color: #99aa1f;
  color: #99aa1f;
}
/* line 75, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event-title {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}
/* line 80, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event-time-range {
  float: right;
  font-weight: 400;
  font-size: 0.85em;
  color: #999999;
}
/* line 86, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event-detail {
  margin-top: 20px;
  color: #444444;
}
/* line 90, ../sass/_contact_detail_page.sass */
#leadin .contact-history .event-detail li + li {
  padding-top: 6px;
  border-top: 1px solid #eeeeee;
}
/* line 95, ../sass/_contact_detail_page.sass */
#leadin .contact-history .visit-source p {
  margin: 0;
  color: #1f6696;
}
/* line 99, ../sass/_contact_detail_page.sass */
#leadin .contact-history .pageview-url {
  margin: 0;
  color: #cccccc;
}
/* line 103, ../sass/_contact_detail_page.sass */
#leadin .contact-history .field-label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
  margin-bottom: 6px;
  font-size: 0.9em;
}
/* line 110, ../sass/_contact_detail_page.sass */
#leadin .contact-history .field-value {
  margin: 0;
}
/* line 115, ../sass/_contact_detail_page.sass */
#leadin.pre-mp6 .events {
  background-color: #f9f9f9;
}

/* line 1, ../sass/_powerups_page.sass */
.powerup-list {
  margin: 0;
}
/* line 4, ../sass/_powerups_page.sass */
.powerup-list .powerup {
  border: 2px solid;
  width: 20%;
  min-width: 250px;
  float: left;
  margin: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-color: #cccccc;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 16, ../sass/_powerups_page.sass */
.powerup-list .powerup h2, .powerup-list .powerup p, .powerup-list .powerup img {
  margin: 0;
  padding: 0;
  color: #666666;
  margin-bottom: 15px;
}
/* line 22, ../sass/_powerups_page.sass */
.powerup-list .powerup.activated {
  background-color: #d3eeeb;
  border-color: #1f7d71;
}
/* line 26, ../sass/_powerups_page.sass */
.powerup-list .powerup.activated h2, .powerup-list .powerup.activated p {
  color: #1f7d71;
}
