#leadin-subscribe-preview{
  height: 300px;
  border-radius: 5px 0 0 0;
  font-family: "Helvetica Neue", sans-serif;
  background: #f0f0f0;
  color: #444444;
  padding: 1em;
  max-width: 100%;
  width: 450px;
  font-size: 1.1em;
  line-height: 1.5em;
}