#leadin-contacts
   
    th
    
        &#source
            width: 20%

        &#visits, &#submissions
            width: 8%

        &#status, &#last_visit, &#date, &#pageviews
            width: 10%