.leadin-subscribe .vex-dialog-message{
  font-weight: bold;
  margin-bottom: 15px !important;
  font-size: 18px !important;
}

.leadin-subscribe .vex-dialog-button{
  background: #444444 !important;
  margin-top: -10px !important;
}

.leadin-subscribe .vex-dialog-input input{
  margin-bottom: 10px !important;
  font-size: 18px !important;
}

.leadin-subscribe .vex-dialog-buttons input{
  font-size: 14px !important;
  color: #fff !important;
}

.leadin-subscribe .vex-close{
  top: 5px !important;
  right: 5px !important; 
}

#leadin-subscribe-powered-by{
  clear: both;
  float: right;
  font-size: 12px;
  padding-top: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #3288e6;
}

#leadin-subscribe-powered-by:hover{
  text-decoration: underline;
}

.leadin-subscribe .vex-content{
  padding: 15px 15px 10px 15px !important;
}

@media only screen and (max-width: 760px) {
  #leadin-subscribe-mobile-check { display: none; }
}